.loading{
    color:lightgrey;
    text-transform: uppercase;
    letter-spacing: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signature{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(66, 65, 65, 0.589);
    z-index: 1400;
    span{
        margin-top: .25rem;
    }
    .sign{
        animation: Sign .45s cubic-bezier(0, 0, 0.2, 1) alternate infinite  ;
    }

}

@keyframes Sign{
    from{
      transform: translateY(50%)
    }   
    to{
      transform: translateY(-50%)
    }
  }
  
  @keyframes Sign{
    from{
      transform: translateY(100) scale(2, .8)
    }
    to{
      transform: translateY(-50%) scale(1, 1)
      }
  }
   