.container_outter{
    .container_home{
        width: 100%;
        min-height: calc(95vh - 10px);
        background-color: #EFE3D4;
        .search_line{
            @media (max-width: 768px) {
                display: flex;
                // flex-wrap: wrap;
            }
            .search_file{
                @media (max-width: 768px) {
                    display: flex;
                    flex-wrap: wrap;
                }
                .search_type{
                    @media (max-width: 768px) {
                       width: 350px;
                       margin:0 0 0 8px;
                    }
                }
                .search_input{
                    @media (max-width:768px) {
                        width: 300px;
                        margin: 0 0 0 -5px;
                    }
                }
            }
            .upload_file{
                img{
                    width:100%;
                    @media (max-width:768px) {
                       width:70px
                    }
                }
            }
        }
        .fileEnvelop_outter{
            @media (max-width:1200px) {
                flex-wrap: wrap;
            }
            @media (max-width:768px) {
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;
            }
            .fileEnvelop{
                background-image:url('/src/assets/images/Frame_finish.png');
                background-repeat: no-repeat;
                background-size: 100% 100%;
                height: 200px;
                width:100%;
                @media (max-width:1600px) {
                    height: 150px;
                }
                @media (max-width:1200px) {
                    height: 180px;
                    max-width: 200px;
                }
                @media (max-width:768px) {
                    height: 180px;
                    max-width: 200px;
                }
                .fileEnvelop_option{
                    width: calc(100%/3);
                    img{
                        @media (max-width:1200px) {
                            width: 50%;
                         }
                    }
                }
            }
        }
    }
   
}
